{% extends "edcaseload/template.html" %}

{% block body %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-24">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-neutral-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-neutral-700 dark:text-neutral-400">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-neutral-800 dark:focus:ring-offset-neutral-800 focus:ring-2 dark:bg-neutral-700 dark:border-neutral-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    Patient name
                </th>
                <th scope="col" class="px-6 py-3">
                    Hospital number
                </th>
                <th scope="col" class="px-6 py-3">
                    Admission date
                </th>
                <th scope="col" class="px-6 py-3">
                    Admission Reason
                </th>
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                <th scope="col" class="px-6 py-3">
                    Estimated length of stay
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr class="bg-white border-b dark:bg-neutral-800 dark:border-neutral-700 hover:bg-gray-50 dark:hover:bg-neutral-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-neutral-800 dark:focus:ring-offset-neutral-800 focus:ring-2 dark:bg-neutral-700 dark:border-neutral-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ patient.first_name }} {{ patient.last_name }}
                </th>
                <td class="px-6 py-4">
                    {{ patient.mrn }}
                </td>
                <td class="px-6 py-4">
                    {{ patient.reason.reason }}
                </td>
                <td class="px-6 py-4">
                    {{ patient.doa }}
                </td>
                <td class="px-6 py-4">
                    {{ patient.location }}
                </td>
                <td class="px-6 py-4">
                    24 hours
                </td>
                <td class="flex items-center px-6 py-4">
                    <form action="{% url 'edcaseload:pending' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value={{patient.mrn}} name="mrn"/>
                        <input type="hidden" value="Accept" name="status"/>
                        <input type="submit" value="Accept" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ms-3"></input>
                    </form>
                    <form action="{% url 'edcaseload:pending' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value={{patient.mrn}} name="mrn"/>
                        <input type="hidden" value="Reject" name="status"/>
                        <input type="submit" value="Reject" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3"></input>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}