{% extends "edcaseload/template.html" %}
{% block body %}
  <section class="bg-myWhite dark:bg-neutral-950 mt-20">
    <div class="max-w-2xl px-4 py-8 mx-auto lg:py-10">
        <h2 class="mb-4 text-xl font-bold text-neutral-900 dark:text-white">Update Patient</h2>
        <form action="{% url 'edcaseload:update' patient.mrn %}" method="post">
          {% csrf_token %}
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
              <input type="hidden" value="{{patient.mrn}}" name="mrn" />
              <div class="w-full">
                <label for="first" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">First name</label>
                <input type="text" value="{{patient.first_name}}" name="first" id="first" class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly placeholder="Jhon" required="">
              </div>
              <div class="w-full">
                <label for="last" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
                <input type="text" value="{{patient.last_name}}" name="last" id="last" class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly placeholder="Smith" required="">
              </div>
                <div class="w-full">
                    <label for="priority" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Priority</label>
                    <input type="text" value="{{patient.priority}}" name="priority" id="priority" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" placeholder="10023456" required="">
                </div>
                <div class="w-full">
                    <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
                    <input type="text" value="{{ patient.location }}" name="location" id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" placeholder="Red 7" required="">
                </div>
                <div class="w-full">
                  <label for="contact_time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Time of contact</label>
                  <input type="number" value="{{ patient.contact_time }}" name="contact_time" id="contact_time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" placeholder="Red 7" required="">
              </div>
                <div class="w-full">
                    <label for="borough" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Borough</label>
                    <select id="borough" value="{{patient.borough.borough}}" name="borough" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="Greenwich">Greenwich</option>
                        <option value="Bexley">Bexley</option>
                        <option value="Lewisham">Lewisham</option>
                        <option value="Out of borough">Out of borough</option>
                    </select>
                </div>
                <div class="sm:col-span-2">
                    <label for="extra" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Additional information</label>
                    <textarea id="extra" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Awaiting scans, social history, pain management..."></textarea>
                </div>
            </div>
            <div class="mx-auto">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Update
                </button>
            </div>
        </form>
    </div>
  </section>

  <p class="text-gray-500 dark:text-gray-400">Are you a Physiotherapist? 
    <a href="{% url 'edcaseload:login' %}" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
      Login here
      <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
    </a>
  </p>
{% endblock %}